.bar-color{
    background-color: lightgray;
}
.google-button{
    border-style: 1px solid;
    border-color: #EB4338 #4286F5 #34A853 #F9BD05;
}
.facebook-button{
    border: 1px solid #1778F2;    
}
.github-button{
    border: 1px solid #282828;    
}
